body
{
    background: #fff;
}
a
{
    text-decoration: none;
}
::selection
{
    color: #fff;
    background: #000;
}
#ie
{
    position: absolute;
    z-index: 999;

    display: none;

    width: 100%;
    height: 100%;
}
.header
{
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    left: 0;

    height: 49px;

    text-align: center;

    border-bottom: 1px solid #f3f3f3;
    background: #fff;
}
.header a
{
    display: inline-block;

    padding: 0 20px;
}
.site-head
{
    height: 49px;
}
.header .menu
{
    float: left;
}
.header .logo
{
    line-height: 50px;

    width: 50%;
    max-width: 250px;
    height: 50px;
    margin: 0 auto;
}
.header .seach
{
    float: right;
}
.logo img
{
    width: 100%;
}
#search,.menu_ico
{
    background: url(img/pics.png) no-repeat;
}
.menu_ico
{
    width: 25px;
    height: 15px;
    margin: 17px 0;

    background-position: -200px 0;
}
#search
{
    width: 22px;
    height: 22px;
    margin: 15px 0 12px;

    background-position: -249px 0;
}
.footer
{
    padding-top: 67px;

    text-align: center;

    color: #fff;
    background: #000;
}
.footer .info
{
    margin: 0 auto;

    text-align: center;
}
.footer .info .icon
{
    display: inline-block;

    color: #fff;
}
.icon p
{
    font-size: 12px;
}
.footer .info a
{
    padding: 0 20px;
}
#foot-info
{
    margin: 0 auto;
    padding: 30px;
}
#foot-info section
{
    padding-top: 30px;
}
.qrcode
{
    position: absolute;
    z-index: 10;

    display: none;
}
.bg_logo
{
    width: 40px;
    height: 35px;
    margin: 0 auto;

    background: url(img/pics.png) no-repeat;
}
.bg_logo.weibo
{
    background-position: -43px 0;
}
.bg_logo.weixin
{
    background-position: -90px 0;
}
.bg_logo.video
{
    background-position: -140px 0;
}
.bg_logo.rss
{
    background-position: -300px 0;
}
#foot-logo div
{
    width: 60px;
    height: 50px;
    margin: 0 auto;

    background: url(img/pics.png) no-repeat 0 -50px;
}
#meizu div
{
    width: 65px;
    height: 15px;
    margin: 0 auto;

    background: url(img/pics.png) no-repeat -99px -50px;
}
#topcontrol
{
    z-index: 999;
}
#toTop
{
    width: 50px;
    height: 50px;

    background: url(img/v_detail.png) no-repeat 0 -100px;
}
#toTop:hover
{
    background-position: -100px -100px;
}
.approve,.copyright
{
    font-size: 12px;
}
.approve
{
    margin: 0 auto;
}
@media only screen and (max-width:80em)
{
    blockquote
    {
        margin-left: 0;
    }
    .site-head
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        height: auto;
        min-height: 240px;
        padding: 15% 0;
    }
    .blog-title
    {
        font-size: 4rem;

        letter-spacing: -1px;
    }
    .blog-description
    {
        font-size: 1.7rem;
        line-height: 1.5em;
    }
    .post
    {
        font-size: .9em;
        line-height: 1.6em;
    }
    .post-template .post-header
    {
        padding: 40px 0;
    }
    h1
    {
        font-size: 4.8rem;

        text-indent: -2px;
    }
    h2
    {
        font-size: 3.8rem;
    }
    h3
    {
        font-size: 3.3rem;
    }
    h4
    {
        font-size: 2.8rem;
    }
}
@media screen and (max-width:48em)
{
    .footer .info a
    {
        padding: 0 10px;
    }
}
