a
{
    color: #5bad8a;
}@font-face{
    font-family: icons;
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/icons.eot);
    src: url(../fonts/icons.eot?#iefix) format('embedded-opentype'),url(../fonts/icons.woff) format('woff'),url(../fonts/icons.ttf) format('truetype'),url(../fonts/icons.svg#icons) format('svg');
}
.icon-facebook:before,.icon-feed:before,.icon-ghost:before,.icon-google-plus:before,.icon-twitter:before
{
    font-family: icons;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-decoration: none;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-ghost:before
{
    content: '\e000';
}
.icon-feed:before
{
    content: '\e001';
}
.icon-twitter:before
{
    font-size: 1.1em;

    content: '\e002';
}
.icon-google-plus:before
{
    content: '\e003';
}
.icon-facebook:before
{
    content: '\e004';
}
html
{
    height: 100%;
    max-height: 100%;
}
body
{
    line-height: 1.6em;

    height: 100%;
    max-height: 100%;

    color: #3a4145;
}
.fluid-width-video-wrapper iframe
{
    margin: 0;
}
.clearfix:after,.clearfix:before
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
.hidden
{
    display: none;
    visibility: hidden;

    text-indent: -9999px;
}
.inner
{
    position: relative;

    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}
.vertical
{
    display: table-cell;

    vertical-align: middle;
}
.site-head
{
    position: relative;

    display: table;

    width: 100%;
    height: 360px;

    text-align: center;

    color: #fff;
    background: #303538 no-repeat center center;
    background-size: cover;
}
.blog-logo
{
    text-decoration: none;
}
.blog-logo img
{
    line-height: 0;

    display: block;

    width: auto;
    max-height: 100px;
    margin: 0 auto;
}
#sub-site
{
    width: 100%;
    height: 245px;
}
#sub-site .page-game
{
    width: 100%;
    padding: 80px 0;
}
#sub-site
{
    background: url(img/default.jpg) no-repeat center center;
    background-size: cover;
}
#sub-site .text
{
    margin: 0 auto;

    text-align: center;
    vertical-align: middle;

    color: #fff;
}
.text a
{
    text-decoration: none;

    color: #fff;
}
.text h3
{
    font-size: 28px;

    margin: 15px;
}
.text h6
{
    font-size: 14px;
    line-height: 0;

    margin: 0;
}
.btn_coming,.btn_view
{
    width: 90px;
    height: 30px;
    margin: 0 auto;

    background: url(img/v_detail.png) no-repeat;
}
.btn_view:hover
{
    background-position: -100px 0;
}
.btn_coming
{
    background-position: 0 -50px;
}
.btn_coming:hover
{
    background-position: -100px -50px;
}
.content
{
    max-width: 850px;
    margin: 0 auto;
}
.blog-title
{
    font-size: 30px;
    font-weight: 700;

    letter-spacing: -1px;

    text-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.blog-description
{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5em;

    margin: 0;

    letter-spacing: 0;

    text-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.entry
{
    position: relative;

    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;

    word-break: break-word;
    hyphens: auto;

    border-bottom: #ebf2f6 1px solid;
}
.entry:after
{
    position: absolute;
    bottom: -5px;
    left: 50%;

    display: block;

    width: 7px;
    height: 7px;
    margin-left: -5px;

    content: '';

    border: 1px solid #e7eef2;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    background: #fff;
    box-shadow: #fff 0 0 0 5px;
}
.entry-title
{
    font-size: 24px;
    line-height: 1.1em;

    margin: 0;

    color: #333;
}
.entry-title a,.entry-title a:active
{
    color: #333;
}
.entry-excerpt p
{
    margin: .5em auto;
}
.entry-excerpt img
{
    margin-top: .5em;
    width: 100%;
}
.entry-meta
{
    font-size: 12px;
    line-height: 1;

    display: inline-block;

    color: #b3b3b3;
}
.entry-meta a
{
    text-decoration: none;

    color: #9eabb3;
}
.entry-meta a:hover
{
    text-decoration: underline;
}
.user-meta
{
    position: relative;

    min-height: 77px;
    padding: .3rem 40px 0 100px;
}
.user-image
{
    position: absolute;
    top: 0;
    left: 0;
}
.user-name
{
    font-weight: 700;

    display: block;
}
.user-bio
{
    font-size: 1.4rem;
    line-height: 1.5em;

    display: block;

    max-width: 440px;
}
.publish-meta
{
    position: absolute;
    top: 0;
    right: 0;

    padding: 4.3rem 0 4rem;

    text-align: right;
}
.publish-heading
{
    font-weight: 700;

    display: block;
}
.publish-date
{
    font-size: 1.4rem;
    line-height: 1.5em;

    display: block;
}
.entry-template .content
{
    overflow: hidden;
}
.entry-template .entry
{
    margin-top: 0;
    padding-bottom: 0;

    border-bottom: none;
}
.entry-template .entry:after
{
    display: none;
}
.entry-template .entry-header
{
    padding: 60px 0;

    text-align: center;
}
.entry-template .blog-title
{
    display: inline-block;

    padding: 2.5rem 0;
}
.entry-content img
{
    display: block;

    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .6em 0;
}
.entry-content .full-img
{
    width: 126%;
    max-width: none;
    margin: 0 -13%;
}
.entry-footer
{
    position: relative;

    margin: 4rem 0 0;
    padding: 4rem 0 0;

    border-top: #ebf2f6 1px solid;
}
.entry-footer h4
{
    font-size: 1.8rem;

    margin: 0;
}
.entry-footer p
{
    font-size: 1.4rem;
    line-height: 1.6em;

    margin: 1rem 0;
}
.author-meta
{
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1;

    margin: 0;
    padding: 0;

    list-style: none;

    color: #9eabb3;
}
.author-meta li
{
    float: left;

    margin-left: 10px;
}
.author-meta li:before
{
    display: inline-block;

    margin-right: 10px;

    content: '•';

    color: #bbc7cc;
}
.author-meta li:first-child
{
    margin-left: 0;
}
.author-meta li:first-child:before
{
    display: none;
}
.author-meta a
{
    color: #9eabb3;
}
.author-meta a:hover
{
    color: #57a3e8;
}
.entry-footer .author
{
    margin-right: 180px;
}
.entry-footer .share
{
    position: absolute;
    top: 4rem;
    right: 0;

    width: 140px;
}
.entry-footer .share a
{
    font-size: 1.8rem;

    display: inline-block;

    margin: 1rem 1.6rem 1.6rem 0;

    text-decoration: none;

    color: #bbc7cc;
}
.entry-footer .share a:hover
{
    color: #50585d;
}
.archive-template .site-head
{
    padding-bottom: 5rem;
}
.archive-template .site-head a
{
    color: #fff;
}
.site-head h1
{
    font-size: 38px;
}
.archive-template .blog-logo
{
    display: block;

    margin-top: 5rem;
}
.tag-archive-header
{
    position: relative;

    max-width: 700px;
    margin: 4rem auto;
    padding: 20px 0;

    text-align: center;

    border-bottom: 1px solid #ebf2f6;
}
.tag-archive-header:after
{
    position: absolute;
    bottom: -5px;
    left: 50%;

    display: block;

    width: 7px;
    height: 7px;
    margin-left: -5px;

    content: '';

    border: 1px solid #e7eef2;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    background: #fff;
    box-shadow: #fff 0 0 0 5px;
}
.archive-template .blog-title
{
    display: inline-block;

    padding: 2.5rem 0;
}
.gist table
{
    font-size: 1.4rem;

    margin: 0;
}
.gist .line-number
{
    font-size: 1.1rem;

    min-width: 25px;
}
.pagination
{
    font-size: 1.3rem;

    position: relative;

    width: 80%;
    max-width: 700px;
    margin: 4rem auto;

    text-align: center;

    color: #9eabb3;
}
.pagination a
{
    color: #9eabb3;
}
.newer-posts,.older-posts
{
    position: absolute;

    display: inline-block;

    padding: 0 15px;

    transition: border ease .3s;
    text-decoration: none;

    border: 2px solid #ebf2f6;
    border-radius: 30px;
}
.older-posts
{
    right: 0;
}
.page-number
{
    display: inline-block;

    padding: 2px 0;
}
.newer-posts
{
    left: 0;
}
.newer-posts:hover,.older-posts:hover
{
    border-color: #9eabb3;
}
.site-footer
{
    font-size: 1.3rem;
    line-height: 1.7em;

    position: relative;

    margin: 8rem 0 0;
    padding: 4rem 0;

    text-align: center;

    color: #bbc7cc;
    border-top: #ebf2f6 1px solid;
    background: #f7fafb;
}
.site-footer a
{
    text-decoration: underline;

    color: #bbc7cc;
}
.site-footer a:hover
{
    color: #50585d;
}
.poweredby .icon-ghost
{
    font-weight: 700;

    text-decoration: none;
}
.poweredby .icon-ghost:hover
{
    text-decoration: none;
}
.poweredby .icon-ghost:before
{
    font-size: 1rem;

    margin-right: .2em;
}
.subscribe
{
    line-height: 2.4rem;

    position: absolute;
    top: -14px;
    left: 50%;

    width: 28px;
    height: 28px;
    margin-left: -15px;

    transition: box-shadow .5s;
    text-align: center;

    border: 1px solid #ebf2f6;
    border-radius: 50px;
    background: #fff;
}
.subscribe:before
{
    font-size: 10px;
    font-weight: 700;

    position: absolute;
    top: 9px;
    left: 9px;

    transition: color .5s ease;

    color: #d2dee3;
}
.subscribe:hover
{
    transition: box-shadow .25s;

    box-shadow: rgba(0,0,0,.05) 0 0 0 3px;
}
.subscribe:hover:before
{
    color: #50585d;
}
.tooltip
{
    font-size: 1.1rem;
    line-height: 1em;

    position: absolute;
    top: -23px;
    left: -21px;

    display: inline-block;

    padding: 4px 8px 5px;

    transition: opacity .3s ease,top .3s ease;
    text-align: center;

    opacity: 0;
    color: rgba(255,255,255,.9);
    border-radius: 20px;
    background: #50585d;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.tooltip:after
{
    position: absolute;
    z-index: 220;
    bottom: -4px;
    left: 50%;

    display: block;

    width: 0;
    margin-left: -5px;

    content: '';

    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #50585d transparent;
}
.subscribe:hover .tooltip
{
    top: -33px;

    opacity: 1;
}
@media only screen and (max-width:64em)
{
    blockquote
    {
        margin-left: 0;
    }
    .site-head
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        height: auto;
        min-height: 240px;
        padding: 15% 0;
    }
    .blog-title
    {
        font-size: 4rem;

        letter-spacing: -1px;
    }
    .blog-description
    {
        font-size: 1.7rem;
        line-height: 1.5em;
    }
    .entry
    {
        font-size: .9em;
        line-height: 1.6em;
    }
    .entry-template .entry
    {
        padding-bottom: 1rem;
    }
    .entry-template .entry-header
    {
        padding: 40px 0;
    }
    h1
    {
        font-size: 4.8rem;

        text-indent: -2px;
    }
    h2
    {
        font-size: 3.8rem;
    }
    h3
    {
        font-size: 3.3rem;
    }
    h4
    {
        font-size: 2.8rem;
    }
    #sub-site
    {
        height: 30%;
    }
    #sub-site .text
    {
        padding-top: 80px;

        vertical-align: top;
    }
    .text h3
    {
        line-height: 1.7;

        margin: 10px;
    }
}
@media only screen and (max-width:48em)
{
    .blog-logo img
    {
        max-height: 80px;
    }
    .inner,.pagination
    {
        width: auto;
        margin-right: 16px;
        margin-left: 16px;
    }
    .entry
    {
        font-size: .8em;
        line-height: 1.6em;

        width: auto;
        margin-right: 16px;
        margin-left: 16px;
    }
    .site-head
    {
        padding: 10% 0;
    }
    .blog-title
    {
        font-size: 3rem;
    }
    .blog-description
    {
        font-size: 1.5rem;
    }
    h1,h2
    {
        font-size: 3rem;
        line-height: 1.1em;

        letter-spacing: -1px;
    }
    h3
    {
        font-size: 1.8rem;
    }
    h4
    {
        font-size: 1.3rem;
    }
    .entry-template .entry
    {
        padding-bottom: 0;
    }
    .entry-template .entry-header
    {
        padding: 30px 0;
    }
    .entry-content img
    {
        padding: 0;
    }
    .entry-content .full-img
    {
        width: auto;
        width: calc(100% + 32px);
        min-width: 0;
        max-width: 112%;
        margin: 0 -16px;
    }
    .entry-meta
    {
        font-size: 1.3rem;
    }
    .entry-footer
    {
        padding: 4rem 0;

        text-align: center;
    }
    .entry-footer .author
    {
        margin: 0 0 2rem;
        padding: 0 0 1.6rem;

        border-bottom: #ebf2f6 1px dashed;
    }
    .entry-footer .share
    {
        position: static;

        width: auto;
    }
    .entry-footer .share a
    {
        margin: 1.4rem .8rem 0;
    }
    .newer-posts,.older-posts
    {
        position: static;

        margin: 10px 0;
    }
    .page-number
    {
        display: block;
    }
    .site-footer
    {
        font-size: 1.1rem;

        margin-top: 6rem;
    }
    #sub-site .page
    {
        clear: both;

        width: 100%;
        height: 180px;
    }
    .inner img
    {
        width: 50%;
    }
    .text h3
    {
        font-size: 18px;
    }
    .page-girl
    {
        margin-top: -1px;
    }
    .btn_coming,.btn_view
    {
        display: none;
    }
    #topcontrol
    {
        display: none;
    }
}
